mongo_user=your-MongoDB-username
mongo_password=your-MongoDB-password
# sample for the jwt_secret: https://keygen.io/#fakeLink and copy the WEP 256-bit Key, then replace the copied key with the your-jwt-secret-key
jwt_secret=your-jwt-secret-key
# Replace the <username>, <password> and <DatabaseName> with the username, password and the MongoDb database name
MONGO_CONN = mongodb+srv://<username>:<password>@cluster0.jnw32.mongodb.net/<DatabaseName>?retryWrites=true&w=majority